body {
	background-color:#FF0066;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
#wrapper {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#wrapper h1 {
	color:#FFFFFF;
	font-size:50px;
	margin:0px;
}
#wrapper #status {
	color:rgba(255,255,255,0.6);
	font-size:20px;
}